Customer Relationship Management/TableSchedule.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Studio 2017 - Developer Bundle Edition (Education) 15.1.17.7979 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="TableSchedule">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" name="Table">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="1" name="Guest" type="xs:string" />
                            <xs:element minOccurs="1" name="Date" type="xs:string" />
                            
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>