Customer Relationship Management/Try.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Studio 2017 - Developer Bundle Edition (Education) 15.1.16.7872 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Booking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="Table">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" name="Guest" type="xs:string" />
                <xs:element minOccurs="0" name="Beer" type="xs:int" />
                <xs:element minOccurs="0" name="Vodka" type="xs:int" />
                <xs:element minOccurs="0" name="Wine" type="xs:int" />
                <xs:element minOccurs="1" name="Date" type="xs:string" />
                <xs:element minOccurs="0" name="HostName" type="xs:string" />
                <xs:element minOccurs="0" name="Gender" type="xs:string" />
                <xs:element minOccurs="0" name="Race" type="xs:string" />
                <xs:element minOccurs="0" name="Budget" type="xs:double" />
                <xs:element minOccurs="1" name="WantHost" type="xs:int" />
            </xs:sequence>
                </xs:complexType>
                </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>